<!--
  Generated template for the BillingShippingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <ion-title>Billing & Shipping</ion-title>
    <ion-buttons end (tap)="dismiss()">
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (submit)="register()" [formGroup]="billingForm">

    <h4>Contact Information</h4>

    <div class="row">
      <div class="mb-15 col-6">
        <label>First Name *</label>
        <ion-input formControlName="first_name" type="text">
        </ion-input>
      </div>

      <div class="mb-15 col-6">
        <label>Last Name *</label>
        <ion-input formControlName="last_name" type="text">
        </ion-input>
      </div>
    </div>

    <div class="mb-15">
      <label>Phone *</label>
      <ion-input formControlName="phone" type="tel">
      </ion-input>
    </div>

    <div class="mb-15">
      <label>Email Address *</label>
      <ion-input formControlName="email" type="email" disabled>
      </ion-input>
    </div>

    <h4>Address</h4>

    <div class="mb-15">
      <label>Street Address *</label>
      <ion-input formControlName="address_1" type="text">
      </ion-input>
    </div>

    <div class="mb-15">
      <label>Province *</label>
      <ion-select>
        <ion-option *ngFor="let province of provinces" [value]="province?.name"
          [selected]="province?.name === userData?.billing?.state" (ionSelect)="provinceSelect(province)">
          {{province?.name}}</ion-option>
      </ion-select>
    </div>


    <div class="mb-15">
      <label>Baranggay *</label>
      <ion-input formControlName="baranggay" type="text">
      </ion-input>
    </div>

    <div class="mb-15">
      <label>City *</label>
      <ion-select>
        <p *ngIf="billingForm.value.state === ''">Please pick Province first</p>
        <ion-option *ngFor="let city of cities" [value]="city?.name" [selected]="city?.name === userData?.billing?.city"
          (ionSelect)="changeCity(city)">{{city?.name}}</ion-option>
      </ion-select>
    </div>



    <button type="submit" ion-button block round class="btn-primary mb-15">Save</button>

    <p class="montserrat-light text-center font-12">By clicking <span><b class="montserrat-bold">Save</b></span>,
      you are allowing <span><b class="montserrat-bold">Palengke Sentral</b></span> to use your personal details for
      registration purposes.</p>

  </form>

</ion-content>