page-billing-shipping {

    ion-select {
        max-width: 100%;
        border: 1px solid #c8c8c9;
    }

    .label-md {
        margin: 0;
    }

    .item-cover {
        width: auto;
        height: auto;
    }


}
