<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>

  <div class="container-center">

    <img src="assets/imgs/logo-ps.png" alt="logo">
    <form (submit)="login()" [formGroup]="loginForm" class="w100">

      <!-- username -->
      <div class="mb-15">
        <ion-input formControlName="username" type="text" placeholder="Username/Email *">
        </ion-input>
      </div>

      <!-- password -->
      <div class="relative mb-15">
        <ion-input clearOnEdit="false" formControlName="password" [type]="passwordType" placeholder="Password *">
        </ion-input>
        <ion-icon (tap)="showPassword()" [name]="isShowPassword ? 'ios-eye-off' : 'ios-eye'" class="btn-show">
        </ion-icon>
      </div>
      <button type="submit" ion-button block class="btn-primary mb-15">Login</button>

      <div class="montserrat-black font-18 text-center pb-10">OR</div>
  
    </form>

    <div class="flex w100 justify-center content-center flex-col pb-10">
      <button ion-button color="facebook" (click)="loginFacebook()">Login with Facebook</button>
      <!-- <button ion-button color="gmail" (click)="loginGmail()">Login with Google</button> -->
    </div>
    <!-- form end -->
    <div class="montserrat-light font-12 text-right">Forget Password? <span (tap)="goToForgotPassword()"><b class="montserrat-bold">Click here.</b></span></div>
    <div class="montserrat-light font-12 ">No Account? <span (tap)="goToRegister()"><b class="montserrat-bold">Register here.</b></span></div>
  </div>

</ion-content>