
// ion-icon custom icons
ion-icon[class*="custom-icon-"] {
  mask-size: contain;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  background: currentColor;
  width: 1em;
  height: 1em;
}
$icons: $icons-array;
@each $icon in $icons {
  ion-icon[class*="custom-icon-#{$icon}"] {
    mask-image: url(#{$icon-path-url}#{$icon}.png);
  }
}

// $icons-uri: $icons-array-uri;
// @each $icon, $data in $icons_uri {
//   ion-icon[class*="custom-icon-#{$icon}"] {
//     mask-image: url(#{$data});
//   }
// }