img { max-width: 100%; }
picture { display: block; }
.img {
    width: 100%;
    height: 100%;
    &.cover { object-fit: cover; }
    &.contain { object-fit: contain; }
    &.fill { object-fit: fill; }
}

