$sides: (top, bottom, left, right);

@each $breakpoint, $value in $breakpoints {
  @for $i from $min-space-value through $max-space-value {
    @include breakpoint(#{$breakpoint}) {
      $suffix : suffix($breakpoint);
      @each $side in $sides {
        .m#{str-slice($side, 0, 1)}#{$suffix}-#{$i} {
          margin-#{$side}: #{$i}px;
        }
        .p#{str-slice($side, 0, 1)}#{$suffix}-#{$i} {
          padding-#{$side}: #{$i}px;
        }
      }
      .m#{$suffix}-#{$i} { margin: #{$i}px; }
      .mx#{$suffix}-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
      }
      .my#{$suffix}-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
      }
      .p#{$suffix}-#{$i} { padding: #{$i}px; }
      .px#{$suffix}-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
      }
      .py#{$suffix}-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
      }
    }
  }
  @include breakpoint(#{$breakpoint}) { 
    $suffix : suffix($breakpoint);
    .mx#{$suffix}-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .ml#{$suffix}-auto {
      margin-left: auto;
    }
  }
}
