<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <ion-title>register</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="container-center">

    <img src="assets/imgs/logo-ps.png" alt="logo">
    <form (submit)="register()" [formGroup]="registerForm">

      <!-- email -->
      <div class="mb-15">
        <ion-input formControlName="email" type="text" placeholder="Email Address *">
        </ion-input>
      </div>

      <!-- username -->
      <div class="mb-15">
        <ion-input formControlName="username" type="text" placeholder="Username *">
        </ion-input>
      </div>

      <!-- password -->
      <div class="relative mb-15">
        <ion-input clearOnEdit="false" formControlName="password" [type]="passwordType" placeholder="Password *">
        </ion-input>
      <ion-icon (tap)="showPassword()" [name]="isShowPassword ? 'ios-eye-off' : 'ios-eye'" class="btn-show">
        </ion-icon>
      </div>

      <button type="submit" ion-button block round class="btn-primary mb-15">Register</button>

      <p class="montserrat-light text-center font-12">By clicking <span><b class="montserrat-bold">Register</b></span>,
        you are allowing <span><b class="montserrat-bold">Palengke Sentral</b></span> to use your personal details for
        registration purposes.</p>

    </form>
    <!-- form end -->
  </div>

</ion-content>