page-register {

    .scroll-content {
        padding-top: 0px !important;
      }

      .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
      }

      ion-header ion-navbar.toolbar {
          box-shadow: 0 0 0 0 transparent !important;
      }

    div img {
        width: 100%;
    }

}
