<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->

<ion-tabs #myTabs (ionChange)="onTabChanged($event)">
  <!--Bug: Using i18n on ion-tab requires a space after }} or simply place &zwnj; at the end.-->
  <ion-tab *ngFor='let tabItem of tabsContent' tabsHideOnSubPages="false" [root]="tabItem?.root"
    [tabIcon]="tabItem?.icon" [tabTitle]="tabItem?.tabTitle" [tabBadge]="tabItem?.badge" tabBadgeStyle="yellow"></ion-tab>
  <!-- tabsHideOnSubPages="true" -->
  <!-- [enabled]="tabItem.root == 'LoginPage' ? false : true"  -->
</ion-tabs>