page-product-category {

    .product-card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        color: #fff;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        padding: 30px 20px;
        position: relative;
        overflow: hidden;
        height: 30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: auto;
        * {
            position: relative;
            z-index: 2;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
        }
    }


}
