<!--
  Generated template for the ProductCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title class="montserrat-black title-center">Products</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="customcircles"
      class="pulldown">
    </ion-refresher-content>
  </ion-refresher>

  <placeholder-loader *ngIf="isLoading"></placeholder-loader>
  <placeholder-loader *ngIf="isLoading"></placeholder-loader>
  <placeholder-loader *ngIf="isLoading"></placeholder-loader>

  <ng-container *ngFor="let category of categories">
    <div *ngIf="!isLoading" (click)="openPage('ProductPage', category)"
      class="product-card font-20 daily-fix mb-10 text-uppercase lh-24"
      [style.backgroundImage]="'url(' + category?.image?.src + ')'">
      <div>
        <span class="montserrat-italic">{{category?.name}}</span>
        <p class="font-12">{{category?.description}}</p>
      </div>
      <span class="flex-vertical">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </span>
    </div>
  </ng-container>



</ion-content>