<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title class="montserrat-black">bayong</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="cartProducts?.length === 0" class="container-center">
    <ion-icon class="font-40" name="cart"></ion-icon>
   <p class="montserrat-black font-30">The cart is empty</p>
  </div>

  <ion-slides  *ngIf="cartProducts?.length !== 0" slidesPerView="1.3">

    <ion-slide *ngFor="let product of cartProducts; let i = index">
      <ion-card class="card">
        <div  class="flex justify-center content-center flex-col">
          <img [src]="product?.images[0]?.src" alt="">
          <div class="card-content pt-10">
            <p class="montserrat-bold font-15 p-10">{{product?.name}}</p>
            <p class="font-12 text-center">{{product?.price | currency: 'PHP'}} {{product?.unit?.value | lowercase}}</p>
          </div>
        </div>

        <div class="number_product">
          <button [disabled]="product?.number_product === 1" (tap)="toggleNumber(product, 'subtract')">-</button>
          <span class="font-18">{{product?.number_product}}</span>
          <button (tap)="toggleNumber(product, 'add')">+</button>
        </div>
        <button ion-button full (tap)="removeProduct(product, i)">Remove</button>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <ion-card *ngIf="cartProducts?.length !== 0" class="">
    <div class="px-20 pt-20 flex">
      <ion-input placeholder="Coupon Code" [(ngModel)]="couponUsed" [disabled]="isValidCoupon"></ion-input>
      <button [disabled]="couponUsed === undefined || couponUsed === '' || isValidCoupon" ion-button block round class="btn-yellow button-coupon" (tap)="validateCoupon()">{{isValidCoupon ? 'Applied': 'Apply'}}</button>
    </div>
    <p *ngIf="couponUsed !== ''" class="montserrat-bold font-12 text-center ">{{couponMessage}}</p>
    <div class="px-20 py-20">
      <p class="montserrat-bold font-24 pt-10 pb-30">Cart Total</p>
      <div class="row">
        <div class="col-6">
          <li>Subtotal</li>
          <li>Shipping</li>
          <li>Coupon Code</li>
          <li>Total</li>
        </div>
        <div class="col-6">
          <li class="montserrat-black font-14">{{subTotal | currency: 'PHP'}}</li>
          <li class="montserrat-black font-14">{{shippingFee === 0 ? 'Free' : shippingFee | currency: 'PHP'}}</li>
          <li class="montserrat-black font-14" style="color: #880000;">{{successCoupon === undefined ? 'No coupon code' : successCoupon?.amount | currency: 'PHP' }}</li>
          <li class="montserrat-black font-14">{{totalPayment | currency: 'PHP'}}</li>
        </div>
      </div>
    </div>
  </ion-card>

  <button *ngIf="cartProducts?.length !== 0" ion-button block round class="btn-primary" (tap)="checkout()">Proceed to Checkout</button>

</ion-content>