page-cart {
    

    .number_product {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 0 20px 0;
        span {
            font-family: 'Montserrat Bold';
        }
        button {
            font-size: 18px;
            width: 30px;
            height: 30px;
            border-radius: 10px;
            font-family: 'Montserrat Black';
            color: #fff;
            background: $background-gradient;
        }
    }

    
    .card {
        background: #fff;
        padding: 0;
        border: 1px solid #eee;
        max-height: 100%;
        img {
            max-height: 150px;
            height: 150px;
            object-fit: cover;
        }
        p {
            height: 30px;
        }
    }

    .col-6 {
        li {
            margin-bottom: 20px;
            list-style-type: none;
        }
    }

    .card-content{
        p {
            max-height: 30px;
            height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    input.text-input.text-input {
        text-transform: lowercase;
        text-align: center;
    }

    .button-coupon {
        width: 30%;
    }

}
