<!--
  Generated template for the ReceiptPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>receipt</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding fullscreen>

  <ion-card class="flex flex-col item-center justify-center text-center p-30">
    <img src="assets/imgs/logo-ps.png" alt="logo">

    <h1 class="montserrat-black px-20">Thank you!</h1>
    <p class="montserrat-medium pb-20">Thank you for choosing Palengke Sentral on your palengke needs in your home.</p>
    <h3 class="montserrat-black px-20" style="color:#700">Your order will be delivered on {{deliveryDate}}</h3>

    <h1 class="montserrat-black">Total Payment</h1>
    <h2 class="font-20 montserrat-bold">{{orderDetails?.total | currency: 'PHP'}}</h2>

    <div class="row text-left py-20">
      <div class="col-6 text-center">
        <p>Name</p>
        <p>Address</p>
      </div>
      <div class="col-6">
        <p>{{orderDetails?.billing?.first_name}} {{orderDetails?.billing?.last_name}}</p>
        <p>{{orderDetails?.billing?.address_1}} {{orderDetails?.billing?.city}} {{orderDetails?.billing?.state}}</p>
      </div>
    </div>

    <div class="row">
      <p class="col-12">Order ID: {{orderDetails?.order_key | uppercase}}</p>
      <p class="col-12">Payment Method: {{orderDetails?.payment_method_title}}</p>
      <h3 class="col-6 pt-20">Product/s</h3>
      <h3 class="col-6 pt-20">Quantity</h3>
      <ng-container *ngFor="let product of orderDetails?.line_items">
        <div class="col-6 ">
          <p class="ellipsis">{{product?.name | titlecase}}</p>
        </div>
        <div class="col-6">
          <p>x {{product?.quantity}}</p>
        </div>
      </ng-container>
    </div>


    <button ion-button round class="btn-primary my-15" (tap)="backToHome()">Back to Home</button>


  </ion-card>

</ion-content>