page-receipt {

    ion-content {
        background: $background-gradient-yellow !important;
    }

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
