.btn-primary {
    background: $background-gradient;
    color: #fff;
}

.btn-yellow {
    background: $background-gradient-yellow;
    color: #fff;
}

.btn-show {
    @extend .absolute-vertical;
    right: 10px;
    // font-size: 25px;
    @extend .font-25;
    color: #999;
}
button.button {
    box-shadow: none;
    font-family: 'Montserrat Bold';
    // bottom: -5px;
    // position: relative;
}
.back-button.show-back-button, .bar-button-hmenutoggle-md, .bar-buttons-md {
    position: relative;
    z-index: 2;
    color: #ffb80e;
}
button[menutoggle][hidden] {
    display: block !important;
}