// app
.content-md {
  @extend .font-14;
}
// content
ion-content > .scroll-content {
  // margin-bottom: 50px !important;

}

ion-slides {
  display: block;
  width: 100%;
  height: auto !important;
}

// header
.header::after {
  display: none;
}
ion-header ion-navbar.toolbar {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.toolbar-title {
  // text-align: center;
  text-transform: uppercase;
  // font-size: 19px;
  overflow: visible;
  @extend .font-19;
}
.push .toolbar-title {
  transform: translate(-24px);
}

.push .toolbar-title-ios {
  transform: translate(0px);
}

.root .toolbar-title {
  transform: translate(24px);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.loading-wrapper {
  background: #f1f2f3 !important;
}

.pulldown ion-spinner.spinner {
  background-image: url('/assets/imgs/icons/refresh.svg');
  width: 50px;
  height: 50px;
}


// segment
.segment {
  justify-content: flex-start;
  overflow-x: scroll;
  transform: translateY(1px);
  .segment-button {
    // border-bottom-color: transparent;
    line-height: 3em;
    height: auto;
    // font-size: 10px;
    @extend .font-10;
    // flex: none;
    width: auto;
    padding: 0 10px;
    &:not(.segment-activated) {
      opacity: 0.4;
    }
    &.segment-activated {
      font-family: 'Montserrat Bold';
    }
  }
}

// card
.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}

// tabs
.tabs-md .tabbar {
  background: #fff;
}
.tabs-md .tab-button[aria-selected=true]:not(:nth-child(2)) {
  background: $background-gradient;
  color: #fff;
}

.tabs-ios .tab-button[aria-selected=true]:not(:nth-child(2)) {
  background: $background-gradient;
  color: #fff;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #ffb80e;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #ffb80e;
}

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  // background: #eee;
  // background-image: none;
  // top: 5px;
}
.tabs .tabbar {
  .tab-button:nth-child(2) {
    overflow: visible;
    &:before {
      content: "";
      position: absolute;
      border: 2px solid #eee;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      width: 60px;
      height: 60px;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
    }
    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background: $background-gradient;
      border-radius: 50%;
    }
    .tab-button-text {
      position: relative;
      color: #fff;
      z-index: 2;
    }
  }
}
.tabs .tab-button:nth-child(2)[aria-selected="true"] {
  &:after {
    background: $background-gradient-yellow;
  }
  .tab-button-text {
    color: #fff !important;
  }
}
.tabs-md .tab-button:not([aria-selected=true]):not(:last-child) {
  // border-left: 1px solid rgba(0, 0, 0, .2);
}
.tabs .tab-button[aria-selected="true"] .tab-button-text {
  color: #fff;
  transform: none;
}
.tabs .tab-button-text {
  font-family: 'Montserrat Bold';
  text-transform: uppercase;
  color: map-get($colors, dark);
}
.tabs-md .tab-button {
  min-height: 50px;
}
.tabbar.show-tabbar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 5px);
  background: #fff;
  z-index: -1;
  bottom: 0;
}

//alerts
.alert-wrapper {
  min-width: 90%;
  width: 90%;
  padding: 16px;
  border-radius: 20px !important;
  // .alert-title, .alert-message{ color: $textColor; }
  .alert-title{
    text-align: center;
    font-size: 20px;
  }
  .alert-head, .alert-button-group{
    padding: 16px;
  }
  .alert-head, .alert-message{
      padding-bottom: 0;
      text-align: center;
      
  }
  .alert-message{
      text-align: center;
  }
  .alert-button-group {
      justify-content: space-between;
      padding: 10px;
      margin-top: 10px;
      .alert-button{
          background: $background-gradient;
          border-radius: 20px;
          padding: 0;
          margin: 0;
          height: 40px;
          text-align: center;
          .button-inner{
              justify-content: center;
              color: #fff;
              font-family: 'Montserrat Black';
              font-weight: normal;
              font-size: 1em;
              @media (max-width : 340px){
                font-size: .8em;
              }
          }
          &:first-child:nth-last-child(1){
            width: 100%;
          }
          &:first-child:nth-last-child(2), &:first-child:nth-last-child(2) ~ .alert-button{
            width: 49%;
            min-width: 49%;
            flex: inherit;
            &:first-child{
              background: transparent;
              box-shadow: none;
              border: 1px solid #880000;
              .button-inner{
                color:  #880000;
              }
            }
          }
      }
  }

  .alert-head, .alert-button-group{
    padding: 0;
  }
  h2.alert-title{
    font-family: 'Montserrat Bold';
  }
  .alert-message{
    text-align: center;
    margin: 4px 0 8px 0;
    font-size: 15px;
    color: #333;
  }
}


// menu
ion-menu {
  .menu-inner {
    width: 250px;
    contain: none;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 8px;
      background: rgba(0, 0, 0, .2);
      left: -8px;
    }
  }
  ion-header {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px;
      background: $background-gradient;
    }
  }

  }

  .toolbar-ios {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 60px !important;
}

  .toolbar {
    position: relative;
    z-index: 2;
  }
  .toolbar-background {
    background: transparent;
  }
  .toolbar-title {
    text-align: center;
    // font-size: 20px;
    color: #fff;
    overflow: visible;
  }
  .list-md .item-block .item-inner {
    border: none;
  }
  .item {
    text-transform: uppercase;
    text-align: right;
    // font-size: 19px;
    @extend .font-19;
    font-family: 'Montserrat Light';
  }
  .content {
    background: #fff;
  }



.profile-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2.5em 0;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #fff;
  h1, p{
      margin: 0;
      color:#fff;
      font-family: 'Montserrat Bold';
      width: 75%;
      text-align: center;
  }
  h1{
      margin: 1.2em 0;
      color: #ffb80e;
      z-index: 1;
  }
  ion-badge{
      border-radius: 20px;
      text-align: center;
      margin-left: 5px;
  }
  ion-icon{
      font-size: 15px;
  }
  span{
      font-size: 1.16em;
      font-family: 'Lato Medium';
  }
}

.profile-image {
  width: 85px;
  height: 85px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
  }
  &.add-ring-effect{
    &:after, &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: transparent;
      border-radius: 50%;
      transform: translate(-50%, -50%);

    }
    &:after{
      width: 95px;
      height: 95px;
      border: 1px solid rgba(255, 255, 255, .6);
    }
    &:before{
      width: 105px;
      height: 105px;
      border: 1px solid rgba(255, 255, 255, .2);
    }
  }
}

.toolbar-title b { font-family: 'Montserrat Bold'; }

body {
  line-height: 18px;
}

.footer-ads {
  // margin-bottom: -5px;
}

.bg-gradient{
  .toolbar-background { 
    background: $background-gradient;
  }
  button, 
  .toolbar-title { 
    color: #ffb80e; 

  }
}

ion-navbar.toolbar{
  ion-icon{
      font-size: 20px !important;
  }
}
.toolbar-title{
  text-align: center;
  font-size: 14pt;
  font-family: 'Montserrat Black';
}





// modal
// ion-modal.calendar-modal {
//   ion-backdrop {
//     visibility: visible;
//   }
//   .modal-wrapper {
//     left: 50%;
//     top: 50%;
//     position: absolute;
//     width: 350px;
//     height: 350px;
//     transform: translate(-50%, -50%) !important;
//     border-radius: 10px;
//     @media (max-width: 360px) {
//       width: 300px;
//       height: 320px;
//     }
//   }
// }