$input-border-color: #c8c8c9;
$invalid: #ea6153;
$valid: #32db64;

.input-cover {
    position: static;
}
::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}
ion-input.input{
    border: 1px solid $input-border-color;
    // border-radius: 20px;
    font-size: 14px;
    @extend .font-16;
    &.invalid { 
        border: 1px solid $invalid; 
    }
    &.valid { 
        border: 1px solid $valid; 
    }
}
textarea.text-input {
    background: #fff;
    margin: 0;
    width: 100%;
    padding: 13px 8px;
    border-radius: 10px;
    border: 1px solid $input-border-color;
}
ion-textarea {
    &.invalid .text-input { 
        border: 1px solid $invalid; 
    }
    &.valid .text-input { 
        border: 1px solid $valid; 
    }
}
.checkbox .checkbox-icon {
    border-width: 1px;
    border-radius: 4px;
    border-color: $input-border-color;
}
.text-input {
    padding: 0 10px;
    margin: 10px 8px;
}
input[type='password'] {
    padding-right: 20px;
}
.searchbar-md .searchbar-search-icon {
    top: 50%;
    transform: translateY(-50%);
}

.searchbar-ios .searchbar-input {
    color: #ffb80e;
}