// small
@each $breakpoint, $value in $breakpoints {
    $sizing: (
        small: -1px,
        medium: 1px,
        large: 2px
    );
    @each $size, $val in $sizing {
        .font-#{$size} {
            @for $i from 1 through $max-size-value {
                @include breakpoint(#{$breakpoint}) {
                    $suffix : suffix($breakpoint);
                    .font#{$suffix}-#{$i} {
                        font-size: ($i * 1px) + $val;
                    }
                }
            }
        }
    }
}

.font-large, .font-medium {
    .word-break {
        display: inline-block;
        word-break: break-word;
    }
}
// TEMPORARY HEHE
.version {
    margin-right: 10px;
}
