$border-color: #e4e4e4;
p {
    margin: .5em 0;
}
.o-hidden {
    overflow: hidden;
}
.border {
    border: 1px solid $border-color;
}
$sides: top bottom left right;
@each $side in $sides {
    .border-#{$side} { border-#{$side}: 1px solid $border-color; }
}
.bold {
    font-weight: bold;
}
@for $i from 1 through 20 {
    .br-#{$i} { border-radius: $i * 1px };
}
@for $i from 1 through 50 {
    .lh-#{$i} { line-height: $i * 1px };
}
.br-50 { border-radius: 50%; }
.h100 { height: 100%; }
.w50 { width: 50%; }
.w100 { width: 100%; }
.mw-40 { min-width: 40%; }
.flex-1 { flex: 1; }
.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    * {
        position: relative;
        z-index: 2;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }
}

// fonts
.montserrat { font-family: 'Montserrat'; }
.montserrat-bold { font-family: 'Montserrat Bold'; }
.montserrat-light { font-family: 'Montserrat Light'; }
.montserrat-black { font-family: 'Montserrat Black'; }

// body
.body {
    line-height: normal; // fix cut text try
}

.break-word {
    overflow-x: hidden;
    word-wrap: break-word;
}
.animate-live {
    animation: hide-show 2s infinite;
}
@-webkit-keyframes hide-show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes hide-show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}