page-home {
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        display: flex;
        justify-content: flex-end;
    }

    h4 span:last-child(){
        color: #880000;
    }


    .image-container {
        // height: 100%;
        position: relative;
        text-align: center;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        color: #fff;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        padding: 30px 20px;
        position: relative;
        overflow: hidden;
        height: 30vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: auto;
        * {
            position: relative;
            z-index: 2;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .4);
        }
    }

    .best-seller-container {
        height: 100%;
        img {
            height: 90px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .card {
        background: #fafafb;
        border: 0;
    }

    .card-md {
        box-shadow: 0 0 0 0;
    }

    ion-icon {
        font-size: 2em;
    }

    .seller-description-container {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 100%;
        div {
            margin-right: auto;
        }

        span {
            margin-left: auto;
        }
    }

    .flex-vertical {
        align-items: flex-end !important;
    }

    .description-container {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 100%;
        margin: auto;
        width: 60%;
        border: 3px solid #d6813e;;
        padding: 10px;
    }

     // masonry-ish

     .pins {
        column-count: 2;
        padding: 20px;
      }
      
      .pin {
        display: inline-block;
        margin: 0 2px 10px;
        width: 100%;
      }

      .announcement-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        z-index: 1;
    }
    .announcement-prompt .announcement-prompt__close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: 0 0;
        font-size: 20px;
    }
    .announcement-prompt {
        position: fixed;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        border-radius: 3px;
        color: #424242;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        overflow: hidden;
        z-index: 10;
    }
    .announcement-prompt .announcement-prompt__content {
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    .announcement-prompt .announcement-prompt__content-title {
        margin: 0 0 10px 0;
        font-size: 22px;
        font-weight: 700;
    }

    .announcement-image-container {
        width: 50%;
        margin: 0 auto;
    }
    
   

}

