<!-- <ion-header>

  <ion-navbar>
    <ion-title class="root montserrat-black">
      Palengke Sentral
      <img [src]="nightmode ? 'assets/imgs/sample/logo-night.png' : 'assets/imgs/sample/logo.png'" alt="" width="56">
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-buttons start>
      <button ion-button (tap)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-left class="montserrat-black">
      Palengke Sentral
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="customcircles"
      class="pulldown">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides pager loop autoplay="5000" [effect]="'coverflow'">
    <ion-slide *ngFor="let backgroundImage of staticBgImage">
      <img [src]="backgroundImage?.media" alt="test">
    </ion-slide>
  </ion-slides>

  <!-- <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="featured" checked>
      <ion-label>Featured</ion-label>
    </ion-segment-button>
    <ion-segment-button value="popular">
      <ion-label>Popular</ion-label>
    </ion-segment-button>
  </ion-segment> -->


  <!-- <div *ngIf="segment === 'featured'"> -->

  <div class="pl-10 pr-10">
    <h4 class="montserrat-black">Featured <span class="montserrat-black">Products</span>
      <!-- <span class="montserrat">See All</span> -->
    </h4>
  </div>

  <div *ngIf="isLoadingFeature">
    <placeholder-loader  style="height: 100px;"></placeholder-loader>
  </div>

  <ion-slides slidesPerView="1.1">
    <ion-slide *ngFor="let featuredProduct of featuredProducts">
      <ion-card (tap)="goToProductDetails(featuredProduct)">
        <div class="image-container" [style.backgroundImage]="'url(' + featuredProduct?.images[0]?.src + ')'">
          <div class="description-container">
            <div class="montserrat-black font-23">{{featuredProduct?.name | titlecase}}</div>
            <div class="montserrat-italic ">{{featuredProduct?.price | currency: 'PHP'}}
              {{featuredProduct?.unit?.value}}
            </div>
          </div>
          <span class="flex-vertical">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </span>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- </div> -->


  <!-- <div *ngIf="segment === 'popular'"> -->
  <div class="pt-10 pl-10 pr-10">
    <h4 class="montserrat-black">Best Seller <span class="montserrat-black">Products</span>
      <!-- <span class="montserrat">See All</span> -->
    </h4>
  </div>
  <!-- <ion-spinner *ngIf="!isLoadingBestSeller"></ion-spinner> -->

  <div *ngIf="isLoadingBestSeller" class="row">
    <placeholder-loader class="col-12" style="height: 100px;"></placeholder-loader>
    <placeholder-loader class="col-12" style="height: 100px;"></placeholder-loader>
    <placeholder-loader class="col-12" style="height: 100px;"></placeholder-loader>
  </div>
  <ion-card *ngFor="let featuredProduct of bestSeller">
    <div class="row h100" (tap)="goToProductDetails(featuredProduct)">
      <div class="col-4">
        <div class="best-seller-container">
          <img [src]="featuredProduct?.images[0]?.src" alt="featuredProduct?.images[0]?.alt">
        </div>
      </div>
      <div class="col-8">
        <div class="seller-description-container">
          <div class="font-18 px-20 montserrat-black self-center">{{featuredProduct?.name | titlecase}}</div>
          <span class="flex-horizontal mr-10">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </span>
          <div class="font-14 montserrat-bold px-20 self-center text-center">
            {{featuredProduct?.price | currency: 'PHP'}} {{featuredProduct?.unit?.value | lowercase}}</div>
          <!-- <div class="font-12" [innerHTML]="featuredProduct?.short_description"></div> -->

        </div>
      </div>
    </div>
  </ion-card>

</ion-content>

<section *ngIf="showAnnouncementMsg && announcement?.status === 'publish'">
  <div class="announcement-overlay" (click)="closeAnnouncement()"></div>
  <div class="announcement-prompt">
    <button class="announcement-prompt__close btn__close" aria-label="close" (click)="closeAnnouncement()">
      <ion-icon name="close"></ion-icon>
    </button>
    <div class="announcement-image-container">
      <img [src]="mediaAnnouncement" alt="">
    </div>
    <div class="announcement-prompt__content">
      <p class="announcement-prompt__content-title">{{announcement?.title?.rendered}}</p>
      <p class="announcement-prompt__content-message" [innerHTML]="announcement?.excerpt?.rendered"></p>
      <div>
        <button (click)="closeAnnouncement()" ion-button>Close</button>
      </div>
    </div>
  </div>
</section>