/** set breakpoint **/
@mixin breakpoint($breakpoint) {
  $min : map-get($breakpoints, $breakpoint);
  @if($min != 0) {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

/**set suffix of breakpoints **/
@function suffix($breakpoint) {
  @if($breakpoint == "xs") {
    @return "";
  } @else {
    @return unquote('-' + $breakpoint);
  }
}

/** create container **/
@mixin make-container() {
  @each $breakpoint, $value in $breakpoints {
    @include breakpoint($breakpoint) {
      width: map-get($container, $breakpoint);
      
    }
    &-#{$breakpoint} {
      @include breakpoint($breakpoint) {
        width: map-get($container, $breakpoint);
      }
    }
  }
}

/** position or align center **/
// using absolute positioning
@mixin center($position) {
  position: absolute;
  @if $position == "vertical" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $position == "horizontal" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  } @else if $position == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
// using flexbox
@mixin flex-center($align: both) {
  display: flex;
  @if $align == "both" {
    align-items: center;
    justify-content: center;
  } @else if $align == "horizontal" {
    justify-content: center;
  } @else if $align == "vertical" {
    align-items: center;
  }
}

/** truncate text **/
@mixin truncate-text($lines: 1) {
  position: relative;
  height: $body-line-height * $lines;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: $body-line-height;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  }
}