/** Set global variables **/

// custom breakpoints
$breakpoints : (
  xs: 0,
  sm : 576px,
  md : 768px,
  lg : 992px,
  xl  : 1200px,
  xxl : 1600px,
  xxxl : 1900px
);

// .container width per breakpoints
$container : (
    xs: 100%,
    sm : 90%,
    md : 88%,
    lg : 90%,
    xl : 80%,
    xxl : 70%,
    xxxl : 60%
);


// min and max value of spacing
$min-space-value: 0;
$max-space-value: 200;

// font sizing max value
$max-size-value: 100;

// icons 
$icon-path-url: '../../../assets/imgs/icons/';
$icons-array : ('bayong', 'delivery', 'packaging', 'qa', 'left');
$icons-array-uri: ();


// max truncate line
$truncate-lines-max: 10;

// .col padding and .row margin * -1
$col-gutter: 5px;
$col-count: 12;


// body
$body-line-height: 27px;