<!--
  Generated template for the PromotionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title>Promotions</ion-title>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div [innerHTML]="promos"></div>

</ion-content>
