page-product-details {


    ion-footer  {
        bottom: -5px;
    }
    //ion-content[fullscreen] bug fix
    .scroll-content {
        padding-top: 0px !important;
      }

      .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
      }

      ion-header ion-navbar.toolbar {
          box-shadow: 0 0 0 0 transparent !important;
      }

    div img {
        width: 100%;
    }


    .button-buy {
        text-align: center;
        display: flex;
        place-content: space-around;
    }


    div button {
        width: 50%;
    }

    .order-info{
        display: flex;
        justify-content: center;
        h2{
            font-size: 20px;
            // color: $textColor;
            font-family: 'Lato Semi Bold';
            width: 100%;
            text-align: center;
            margin-top: 0;
            margin-bottom: 5px;
        }
        p{
            font-family: 'Lato Medium';
        }
    }

    .card {
        background: #fff;
        padding: 0;
        border: 1px solid #eee;
        max-height: 100%;
        img {
            max-height: 150px;
            height: 150px;
            object-fit: cover;
            width: 100%;
        }
        div {
            max-height: 30px;
            height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .back-container {
        position: fixed;
        left: 30px;
        top: 20px;
	background-color: #eee;
	padding: 3px 10px;
        z-index: 99;
    }

    .back-arrow {
        position: fixed;
        z-index: 99;
        left: 30px;
        top: 20px;
        font-size: 30px;
        transform: rotate(180deg);
    }
    
   
    @media (max-width : 320px) {
        .custom-fluid-col{
            ion-label.label{
                p{
                    font-size: 9pt;
                }
            }
        }
    }
    .no-scroll .scroll-content{ overflow: hidden !important; }
    @media (min-width: 600px) {
        ion-card.profile{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer-bayong {
        position: fixed;
        bottom: 0;
        z-index: 10;
        padding: 30px;
    }

    .number_product {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0 10px 0;
        span {
            font-size: 20px;
            font-family: 'Montserrat Black';
        }
        button {
            font-size: 18px;
            width: 30px;
            height: 30px;
            border-radius: 10px;
            font-family: 'Montserrat Black';
            color: #fff;
            background: $background-gradient;
        }
        
    }

    .back-button.show-back-button {
        // border: 3px solid #000;
        // background: $background-gradient;
        // left: 10px;
    }

    .cart-price {
        border: 3px solid #000;
        color: #ffb80e;
        background: $background-gradient;
        padding: 16px;
    }
    
}
