<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button class="cart-price" ion-button>
        <ion-icon class="custom-icon-bayong"></ion-icon>
        {{displayAmount | currency: 'PHP'}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <!-- <div class="back-container"> </div>
    <span class="back-arrow">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </span> -->


  <div class="container">

    <!-- <ion-slides *ngIf="productDetail" [effect]="'coverflow'">
      <ion-slide>
        <img [src]="productDetail?.images[0]?.src" alt="productDetail?.images[0]?.alt">
      </ion-slide>
    </ion-slides> -->

    <ion-slides *ngIf="productDetail" [pager]="productDetail?.images?.length > 1"
       [loop]="productDetail?.images?.length > 1"  [effect]="'coverflow'" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let productImage of productDetail?.images" >
        <img [src]="productImage?.src" alt="productImage?.alt">
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container" padding>
    <div class="basic-information">
      <!-- <div class="col-8"> -->
      <h1 class="montserrat-black">{{productDetail?.name}}</h1>
      <p class="montserrat-bold font-16">{{productDetail?.price | currency: 'PHP'}}
        {{productDetail?.unit?.value | lowercase}}</p>
      <p class="font-15" [innerHTML]="productDetail?.description"></p>


      <div class="number_product">
        <button [disabled]="productDetail?.number_product === 1"
          (tap)="toggleNumber(productDetail, 'subtract')">-</button>
        <span>{{productDetail?.number_product}}</span>
        <button (tap)="toggleNumber(productDetail, 'add')">+</button>
      </div>
      <!-- </div> -->
      <!-- <div class="col-4 flex justify-center content-center">
        <button (tap)="addToCart(productDetail)" ion-button full class="font-8 py-15 px-15">
          <ion-icon class="custom-icon-bayong font-25"></ion-icon>
          <span class="pl-5">Add to Bayong</span>
        </button>
      </div> -->
    </div>

    <!-- <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="description" checked>
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reviews">
        <ion-label>Reviews</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <!-- <div *ngIf="segment === 'description'">
      <p class="font-15 px-20 py-20" [innerHTML]="productDetail?.description"></p>
    </div>

    <div *ngIf="segment === 'reviews'">
    </div> -->
  </div>


  <div class="pl-10 pr-10">
    <h4 class="montserrat-black">You may also like</h4>
  </div>

  <div *ngIf="isLoading" class="row">
    <placeholder-loader class="col-6"></placeholder-loader>
    <placeholder-loader class="col-6"></placeholder-loader>
  </div>


  <ion-slides *ngIf="!isLoading" slidesPerView="2.2">
    <ion-slide *ngFor="let relatedProduct of relatedProducts" class="flex justify-center content-center flex-col">
      <ion-card class="card" (tap)="goToProductDetails(relatedProduct)">
        <img [src]="relatedProduct?.images[0]?.src" alt="relatedProduct?.images[0]?.alt">
        <div class="font-15 montserrat-bold px-10 py-10">{{relatedProduct?.name | titlecase}}</div>
        <div class="montserrat-medium px-10 py-10">{{relatedProduct?.price | currency: 'PHP'}}
          {{relatedProduct?.unit?.value | lowercase}}</div>
      </ion-card>
    </ion-slide>

  </ion-slides>


</ion-content>

<ion-footer>
  <button (tap)="addToCart(productDetail)" ion-button full class="font-8 p-25 btn-primary button-footer">
    <!-- <ion-icon class="custom-icon-bayong "></ion-icon> -->
    <span class="pl-5 font-20">Add to Bayong
      ({{priceView ? (priceView | currency: 'PHP') : (productDetail?.price | currency: 'PHP')}})</span>
  </button>
</ion-footer>