// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #880000,
  secondary:  #04a777,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #19191a,
  yellow:     #ffc801,

  // social media
  facebook: #3b5999,
  gmail: #D44638
);

$fonts : (
  color : (
    primary : #333,
    secondary : #999
  ),
  font-size : (
    xs : 10px,
    sm : 13px,
    md : 24px,
    lg : 34px,
    xl : 42px
  ),
  font-weight : (
    weight-500 : 500,
    weight-600 : 600,
    weight-700 : 700,
    weight-800 : 800,
  )
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// @import "theme.light";
// @import "theme.dark";
// @import "theme.blue";
// @import "theme.red";
// @import "theme.green";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@mixin font-face($name, $src, $type) {
  @font-face {
    font-family: quote($name);
    src: url($src) format($type);
  }
}
@include font-face("Montserrat", "../../assets/fonts/Montserrat/Montserrat-Regular.ttf", "truetype");
@include font-face("Montserrat Bold", "../../assets/fonts/Montserrat/Montserrat-Bold.ttf", "truetype");
@include font-face("Montserrat Light", "../../assets/fonts/Montserrat/Montserrat-Light.ttf", "truetype");
@include font-face("Montserrat Black", "../../assets/fonts/Montserrat/Montserrat-Black.ttf", "truetype");

// @font-face {
//     font-family: 'Gotham';
//     src: url('../../assets/fonts/gotham/GothamBook.ttf') format('truetype'),
//     url('../../assets/fonts/gotham/GothamBook.woff2') format('woff2'),
//     url('../../assets/fonts/gotham/GothamBook.woff') format('woff');
// }
// @font-face {
//   font-family: 'Gotham Bold';
//   src: url('../../assets/fonts/gotham/Gotham-Bold.ttf') format('truetype'),
//   url('../../assets/fonts/gotham/GothamBold.woff2') format('woff2'),
//   url('../../assets/fonts/gotham/GothamBold.woff') format('woff');
// }
// @font-face {
//   font-family: 'Gotham Light';
//   src: url('../../assets/fonts/gotham/GothamLight_Regular.otf') format('opentype'),
//   url('../../assets/fonts/gotham/GothamLight.woff2') format('woff2'),
//   url('../../assets/fonts/gotham/GothamLight.woff') format('woff');
// }
// @font-face {
//   font-family: 'Gotham Black';
//   src: url('../../assets/fonts/gotham/Gotham-Black.otf') format('opentype'),
//   url('../../assets/fonts/gotham/Gotham-Black.woff2') format('woff2'),
//   url('../../assets/fonts/gotham/Gotham-Black.woff') format('woff');
// }
// @font-face {
//   font-family: 'Gotham Italic';
//   src: url('../../assets/fonts/gotham/GothamBookItalic.ttf') format('truetype'),
//   url('../../assets/fonts/gotham/GothamBookItalic.woff2') format('woff2'),
//   url('../../assets/fonts/gotham/GothamBookItalic.woff') format('woff');
// }
// @font-face {
//   font-family: 'Gotham Bold Italic';
//   src: url('../../assets/fonts/gotham/GothamBoldItalic.ttf') format('truetype'),
//   url('../../assets/fonts/gotham/GothamBoldItalic.woff2') format('woff2'),
//   url('../../assets/fonts/gotham/GothamBoldItalic.woff') format('woff');
// }
// $font-size-base : 14px;
// $body-line-height: 27px;
// $font-family-base: '';
$font-family-ios-base: 'Montserrat';
$font-family-md-base: 'Montserrat';
// $font-family-wp-base: '';


// Override ionic variables
$toolbar-background: #fff;
$background-color: #fafafb;
$text-color: map-get($colors, dark);

$background-gradient: linear-gradient(135deg, #ab0000 0%,#650000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

$background-gradient-yellow: linear-gradient(135deg, #ffb80e 0%,#a87915 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
