<!--
  Generated template for the WalkthroughPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-slides pager="true">


    <ion-slide>
      <div class="card">
        <p class="card-title">Welcome</p>
        <div class="card-image red">
          <img src="assets/imgs/icons/tap.svg" />
        </div>
        <p class="description">Setup your account to find your preferred palengke needs.</p>
        <button ion-button class="btn-primary" (tap)="next()">Next</button>
        <!-- <button ion-button clear class="hidden">Skip</button>
        <button ion-button clear (tap)="next()" class="next">Skip</button> -->
      </div>
    </ion-slide>

    <ion-slide>
      <div class="card">
        <p class="card-title">Order</p>
        <div class="card-image pink">
          <img src="assets/imgs/icons/basket.svg" />
        </div>
        <p class="description">Just few taps, you can get your palengke needs.</p>
        <button ion-button class="btn-primary" (tap)="next()">Next</button>
        <!-- <button ion-button clear class="hidden">Skip</button>
        <button ion-button clear (tap)="next()" class="next">Skip</button> -->
      </div>
    </ion-slide>

    <ion-slide>
      <div class="card">
        <p class="card-title">Deliver</p>
        <div class="card-image orange">
          <img class="pslogo" src="assets/imgs/icons/pslogo.png" />
        </div>
        <p class="description">Get high quality palengke products to be delivered to your doorsteps.</p>
        <button ion-button class="btn-primary" (tap)="loginPage()">Get Started</button>
      </div>
    </ion-slide>

  </ion-slides>

  <div ion-fixed>
    <div>
      <img class="position-svg" src="assets/imgs/icons/walkthroughman.svg" alt="">
    </div>
  </div>


</ion-content>