page-walkthrough {


    [ion-fixed] {
        z-index: 0;
    }
    ion-content.content{
//         background: -moz-linear-gradient(45deg, #61c24f 0%, #1ca877 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(45deg, #61c24f 0%,#1ca877 100%); /* Chrome10-25,Safari5.1-6 */
background: $background-gradient-yellow /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    ion-slide.swiper-slide{
        padding: 10vw;
    }
    .card {
        background: #fff;
        border-radius: 10px;
        padding: 16px;
        box-shadow: 0px 3px 14px 0 rgba(0,0,0,0.2);
        .card-title{
            font-family: 'Montserrat Black';
            font-size: 18pt;
            color: #880000;
            text-transform: uppercase;
        }
        .description {
            font-size: 14pt;
            color: map-get($colors, dark-gray );
        }
        button{
            width: 80%;
            font-size: 11pt;
            text-transform: uppercase;
            color: map-get($colors, green );
            &.skip{
                position: absolute;
                width: auto;
                color: #fff;
                top: 20px;
                right: 20px;
                z-index: 2;
            }
            &.hidden{
                opacity: 0;
            }
        }
        .btn-primary{ color: #fff; }
        .card-image {
            width: 100%;
            max-width: 300px;
            height: 200px;
            margin: 0 auto;
            img{
                height: 100%;
                width: 50%;
                object-fit: contain;
            }
            .pslogo{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-pagination-bullet-active{
        width: 10px;
        height: 10px;
    }
    .swiper-pagination-bullet{
        background: #fff;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        left: 60px;
    }

    .position-svg {
        position: relative;
        right: 120px;
        top: 150px;
    }
    .slide-zoom {
        position: relative;
        left: 60px;
        width: 70%;
    }

    .red {
        background: #880000;
    }

    .pink {
        background: #FF6D67;
    }

    .orange {
        background: #c94a13;
    }

    .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
      }

      ion-header ion-navbar.toolbar {
          box-shadow: 0 0 0 0 transparent !important;
      }

}
