<ion-menu [content]="content" side="right" id="myMenu"  [class]="selectedTheme">
  <ion-header menuClose >
    <section class="profile-info">
      <div class="profile-image add-ring-effect" (tap)="userProfile()">
        <img [src]="loginType === 'fb' ? userFb?.picture : userInfo?.m_avatar" onError="this.src='assets/imgs/icons/avatar_normal.png';"/>
      </div>
      <h1>{{loginType === 'fb' ? userFb?.name : userInfo?.name | titlecase}}</h1>
    </section>
  </ion-header>

  <ion-content>
    <div class="flex flex-col items-center content-last justify-between h100">
      <ion-list class="pt-50">
        <button menuClose ion-item (click)="goToPage('AccountPage')">My Account</button>
        <button menuClose ion-item (click)="underConstruction()">Promotions</button>
        <button menuClose ion-item (click)="goToPage('FaqPage')">FAQs</button>
        <button menuClose ion-item (click)="underConstruction()">Wishlist</button>
        <button menuClose ion-item (click)="goToContactUs()">Contact Us</button>
      </ion-list>
      <div class="text-right pb-50">
        <button menuClose ion-button clear (click)="logOut('LoginPage')"><span class="font-20 montserrat-black">Sign
            Out</span></button>
        <!-- <button menuClose ion-button clear (click)="goToPage('LoginPage')"><span class="font-20 montserrat-black">{{"Login" | translate}}</span></button> -->
        <!-- <p class="version">Development Version: 0.8.14</p> -->
        <p class="version">Version: 1.0.16</p>
        <!-- <p class="version">Date: September 25, 2019</p> -->
      </div>

    </div>


  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="fwfalse" [class]="selectedTheme"></ion-nav>
