<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title class="montserrat-black title-center push">{{categoryName}}</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon class="custom-icon-bayong"></ion-icon>
        {{displayAmount | currency: 'PHP'}}
      </button>
    </ion-buttons>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="customcircles"
      class="pulldown">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="searchWord" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)" [placeholder]=" 'Search in ' + categoryName " debounce="500">
  </ion-searchbar>


  <div *ngIf="products?.length === 0" class="container-center">
    <ion-icon class="font-40" name="search"></ion-icon>
    <p class="montserrat-black font-30">No result found</p>
  </div>

  <p *ngIf="searchWord !== ''" class="text-center monstserrat-bold">See results for <b>{{searchWord}}</b></p>

  <div class="pins pt-10">

    <!-- <div class="col-6" *ngFor="let product of products"> -->

    <ion-card class="box pin" *ngFor="let product of products; trackBy: trackByFn(product?.gid) | async">
      <div (tap)="product?.stock_status === 'outofstock' ? '' : goToProductDetails(product)">
        
        <div *ngIf="product?.stock_status === 'outofstock'" class="ribbon"><span>Out of Stock!</span></div>
        <div *ngIf="product?.on_sale === 'true' && product?.stock_status === 'instock'" class="ribbon"><span>On Sale!</span></div>
        <div *ngIf="todayDate === product?.date_created && product?.stock_status === 'instock'" class="ribbon"><span>New Product!</span></div>

        <img [src]="product?.images[0]?.src" alt="">
        <div class="card-content pt-10">
          <p class="card-title text-center montserrat-black">{{product?.name | titlecase }}</p>
          <p class="card-price text-center montserrat-bold">{{product?.price | currency: 'PHP' }}
            {{product?.unit?.value | titlecase}}</p>
        </div>
      </div>

      <div class="number_product">
        <button [disabled]="product?.number_product === 1" (tap)="toggleNumber(product, 'subtract')">-</button>
        <span>{{product?.number_product}}</span>
        <button (tap)="toggleNumber(product, 'add')">+</button>
      </div>
      <button ion-button full (tap)="addToCart(product)" [disabled]="product?.stock_status === 'outofstock'">
        <ion-icon class="custom-icon-bayong font-25"></ion-icon><span class="pl-5">Add to Bayong</span>
      </button>

    </ion-card>
    <!-- </div> -->
  </div>


  <ion-infinite-scroll *ngIf="products?.length % 10 === 0" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>