page-product {


  // ion-header {
  //   position: sticky;
  // }

    .card {
        background: #fff;
        padding: 0;
        border: 1px solid #eee;
        max-height: 100%;

        img {
            height: 168px;
            object-fit: cover;
        }
    }

    

    .card-content {
        text-align-last: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-title {
      height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-price {
      height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .button-md {
        font-size: 1rem;
        margin: 0;
    }

    .number_product {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0 10px 0;
        span {
            font-size: 18px;
            font-family: 'Montserrat Bold';
        }
        button {
          font-size: 18px;
          width: 30px;
          height: 30px;
          border-radius: 10px;
          font-family: 'Montserrat Black';
          color: #fff;
          background: $background-gradient;
      }
        
    }

    .box {
        position: relative;
        border: 1px solid #BBB;
        background: #EEE;
      }

      .ribbon {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
      }
      .ribbon span {
        font-size: 7px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#F70505 0%, #8F0808 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
      }
      .ribbon span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #8F0808;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8F0808;
      }
      .ribbon span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #8F0808;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8F0808;
      }


      // masonry-ish

      .pins {
        // column-count: 2;
        // display: grid;
        // grid-template-columns: auto auto;
        // grid-template-rows: auto auto;
        // grid-auto-flow: row;
        display: grid;
        grid-gap: 0;
        grid-template-columns: auto auto;
        grid-auto-rows: auto;
      }
      
      .pin {
        // display: inline-block;
        // margin: 0 2px 10px;
        // width: 100%;
        grid-row-end: span 1;
        margin-top: 10px;
      }

}
