<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title class="push">checkout</ion-title>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="customcircles"
      class="pulldown">
    </ion-refresher-content>
  </ion-refresher>

  <h4 class="montserrat-black">Contact Information</h4>
  <ion-card>
    <div class="row px-30 pt-30">
      <div class="col-6">
        <li>Name:</li>
        <li>Address:</li>
      </div>
      <div class="col-6">
        <li class="montserrat-bold font-14">{{userData?.first_name}} {{userData?.last_name}}</li>
        <li class="montserrat-bold font-14">{{userData?.billing?.address_1}} {{userData?.baranggay}} {{userData?.billing?.city}}
          {{userData?.billing?.state}}</li>
      </div>
      <span class="ml-auto font-20 p-10 montserrat-bold" (tap)="presentEditProfile()">
        <ion-icon name="create" class="edit-icon"></ion-icon>Edit
      </span>
    </div>
  </ion-card>


  <h4 class="montserrat-black">Order Notes (optional)</h4>
  <ion-textarea #myInput rows="3" [(ngModel)]="notes" class="px-20" (input)="resize()" placeholder="Notes about your order, e.g. special notes for delivery"></ion-textarea>
  


  <h4 class="montserrat-black">Payment Method</h4>

  <ion-card *ngFor="let enabledPaymentGateway of enabledPaymentGateways">
    <div class="row h100 px-20 py-20">
      <div class="col-2">
        <div class="image-container">
          <input type="checkbox" [id]="enabledPaymentGateway.id" [value]="enabledPaymentGateway.id"
            [(ngModel)]="enabledPaymentGateway.selected" (change)="checkSelected(enabledPaymentGateway)">
        </div>
      </div>
      <div class="col-10">
        <div class="description-container">
          <div class="font-15 montserrat-bold">{{enabledPaymentGateway?.title}}</div>
          <div class="font-12">{{enabledPaymentGateway?.description}}</div>
        </div>
      </div>
    </div>
  </ion-card>

  <button [disabled]="!selectedPayment || userData?.billing?.address_1 === '' || !shipping_line " ion-button block round class="btn-primary my-15" (tap)="doubleCheckOrder()">Confirm Order: {{total | currency: 'PHP'}}</button>

    <p class="montserrat-light text-center font-12">By clicking <span><b class="montserrat-bold">Confirm Order</b></span>,
      you are allowing <span><b class="montserrat-bold">Palengke Sentral</b></span> to use your personal details for
      ordering purposes.</p>

</ion-content>