page-checkout {
    

    .col-6 {
        li {
            margin-bottom: 20px;
            list-style-type: none;
        }
    }

     span.ml-auto.font-20.p-10 {
         color: #880000;
     }
}
