<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
      <ion-searchbar [(ngModel)]="searchWord" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)" placeholder="Search products here" debounce="500">
      </ion-searchbar>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="words?.length === 0" class="container-center">
    <ion-icon class="font-40" name="search"></ion-icon>
   <p class="montserrat-black font-30">No result found</p>
  </div>


  <p *ngIf="words?.length !== 0" class="text-center monstserrat-bold">See results for <b>{{searchWord}}</b></p>
  <div *ngFor="let word of words">
    <div class="box-list" (tap)="goToProductDetails(word)">
      <p class="montserrat-black">{{word?.name | titlecase}} <span class="flex-vertical">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </span></p>
    </div>
  </div>
</ion-content>