<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title class="montserrat-black push">
      My Account
      <!-- <img [src]="nightmode ? 'assets/imgs/sample/logo-night.png' : 'assets/imgs/sample/logo.png'" alt="" width="56"> -->
    </ion-title>

    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="customcircles"
      class="pulldown">
    </ion-refresher-content>
  </ion-refresher>

  <!-- profile details start -->
  <div class="card br-15 mb-10 px-20">
    <div class="flex py-5">
      <div class="flex-center relative">
       
        <!-- <ion-icon name="create" class="edit-icon"></ion-icon> -->
      </div>
      <div class="flex-1 pl-15 pr-10 bold py-5 montserrat-bold text-center">
        <img [src]="loginType === 'fb' ? userData?.picture : userData?.avatar_url" onError="this.src='assets/imgs/icons/avatar_normal.png';"  alt="" class="img cover br-50 profile-img">
        <p no-margin class="font-20 pt-20">{{loginType === 'fb' ? userData?.name : userData?.first_name | uppercase}} {{userData?.name ? '' : userData?.last_name | uppercase}}</p>
        <p no-margin><span class="font-12">{{userData?.email | lowercase}}</span></p>
        <!-- <p no-margin><span class="font-12">{{userData?.slug | lowercase}}</span></p> -->
        <button ion-button small round class="btn-primary font-10 p-10" (tap)="openEditProfileModal()">Edit
          Billing & Shipping Info</button>
      </div>
    </div>
  </div>
  <!-- profile details end -->
  <h3 class="text-center montserrat-black">My Orders</h3>
  <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="processing" checked>
      <ion-label>Processing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="orders?.length === 0" class="flex flex-col justify-center items-center text-center height-no-data px-20">
    <ion-icon class="font-40" name="cube"></ion-icon>
    <p class="montserrat-black font-20">No {{segment}} orders available</p>
  </div>

  <!-- orders  -->

  <ion-card *ngFor="let order of orders">
    <div class="col ">
      <div class="row-4 p-10">
        <div class="row flex flex-row justify-center items-center">
          <div class="col-3">
            <img src="assets/imgs/logo-ps.png" alt="logo">
          </div>
          <div class="col-5">
            <p class="montserrat-black">Order #{{order?.id}}</p>
            <p class="montserrat-bold">{{order?.total | currency: 'PHP'}}</p>
          </div>
          <div class="col-4" [ngClass]="order?.status === 'processing' ? 'border-processing' : border-completed">
            <p>{{order?.status | titlecase}}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row-8">
        <div class="col">
          <div class="row-6 pt-5 pb-10">
            <p><b>Notes:</b> {{order?.customer_note}}</p>
          </div>
          <div class="row-6">
            <p><b>Order Date:</b> {{order?.date_created | date: 'medium'}}</p>
            <p><b>Delivery:</b> Tomorrow Morning</p>
            <p><b>Payment Method:</b> {{order?.payment_method_title}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-card>

</ion-content>


<!-- <ion-card class="card-tracker">
      <div>
        <ion-icon class="custom-icon-packaging font-30"></ion-icon>
        <p><span class="font-10">For Package</span></p>
      </div>
      <div>
        <ion-icon class="custom-icon-qa font-30"></ion-icon>
        <p><span class="font-10">For Review</span></p>
      </div>
      <div>
        <ion-icon class="custom-icon-delivery font-30"></ion-icon>
        <p><span class="font-10">For Delivery</span></p>
      </div>
    </ion-card> -->