page-account {

    .profile-img{
        height: 80px;
        width: 80px;
      }
      .edit-icon{
        position: absolute;
        right: 0;
        bottom: 0px;
        width: 25px;
        height: 25px;
        @extend .flex-center;
        background-color: map-get($colors, primary);
        color: #fff;
        border-radius: 50%;
      }

      .img.cover {
        object-fit: contain;
      }
    

      .card-tracker {
          text-align: center;
          display: flex;
          place-content: space-around;
      }


      .border-processing {
        padding: 10px;
        background: $background-gradient-yellow;
        text-align: center;
        opacity: 0.9;
        border-radius: 10px;
        color: #fff;
        height: 50%;
    }

    .border-completed {
      padding: 10px;
      background: $background-gradient;
      text-align: center;
      opacity: 0.9;
      border-radius: 10px;
      color: #fff;
      height: 50%;
  }

  .height-no-data { 
    height: 70%;
  }


}
