<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="bg-gradient">
    <!-- <ion-toolbar mode="ios"> -->
    <ion-title class="montserrat-black push">FAQs</ion-title>
    <!-- </ion-toolbar> -->
  </ion-navbar>
</ion-header>

<ion-content padding >

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="customcircles"
      class="pulldown">
    </ion-refresher-content>
  </ion-refresher>

  <h2 class="montserrat-bold">Frequently Asked Question</h2>
  <p class="font-16 montserrat-light">Here are some common questions about Palengke Sentral</p>

  <!-- <iframe id="myFrame" [src]="link"></iframe> -->

  <div [innerHTML]="faqs"></div>
  <!-- <div>
    <div *ngFor="let faq of faqList" (tap)="handleFaqClick(faq)"
      class="bg-light border br-15 py-10 px-15 mb-10 montserrat-light"> -->
      <!-- header -->
      <!-- <div class="flex justify-between items-center">
        <span class="text-uppercase pr-10">{{faq?.title}}</span>
        <ion-icon name="ios-arrow-down"></ion-icon>
      </div> -->
      <!-- content -->
      <!-- <div class="accordion-content" [ngClass]="faq?.isShow ? 'show' : ''">
        <p>{{faq?.description}}</p>
      </div>
    </div>
  </div> -->

</ion-content>