page-faq {

    .accordion-content {
        display: none;
    }
    .accordion-content.show {
        display: block;
    }
    ion-input.input {
        border-radius: 10px;
        background: #fff;
        margin-bottom: 10px;
        .text-input {
            padding-left: 0;
        }
    }

    // innerhtml styles

    .wpsm_panel-body {
        padding: 20px;
        line-height: 25px;
    } 

    #wpsm_accordion_391 .wpsm_panel-body {
        font-family: 'Montserrat' !important;
    }

    #wpsm_accordion_391 .wpsm_panel {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    span.ac_title_class {
        text-align: center;
        font-family: 'Montserrat Bold'
    }

    .wpsm_panel.wpsm_panel-default {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    span.ac_open_cl_icon.fa.fa-plus {
        visibility: hidden;
    }

    div h3 {
        display: none !important;
    }

}
